# Setup

### Import Dependencies

In [1]:
import pandas as pd
import geopandas as gpd
import geopy
import numpy as np
import re
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import folium
from folium.plugins import FastMarkerCluster

# Import Data

### Import the full finishers list

In [2]:
# bring in the csv
df = pd.read_csv("../00_data/raw_data/M2019_finishers.csv")
df.head()

,name,geo_subregion,country,gender,age,bib,team,official_time,pace_per_mile,place_overall,...,20m,21m,35k,22m,23m,24m,40k,25m,26m,mar
0,Michel Butter,Castricum,NLD,M,33,7,New Balance,2:25:06,05:33,37,...,1:43:56,1:50:22,1:55:04,1:56:42,2:03:26,2:10:32,2:16:06,2:17:07,2:23:41,2:25:06
1,Geoffrey Kamworor,Kapchorwa District,KEN,M,26,3,NIKE,2:08:13,04:54,1,...,1:38:59,1:44:07,1:47:34,1:48:44,1:53:20,1:57:59,2:01:48,2:02:30,2:07:11,2:08:13
2,Jack Rayner,Melbourne,AUS,M,23,9,NIKE,2:16:58,05:14,22,...,1:40:59,1:46:40,1:50:55,1:52:22,1:58:10,2:04:07,2:08:58,2:09:51,2:15:39,2:16:58
3,Stephen Sambu,"Tucson, AZ",USA,M,31,10,NIKE,2:11:11,05:01,7,...,1:39:12,1:44:15,1:47:58,1:49:13,1:54:16,1:59:39,2:03:59,2:04:46,2:09:58,2:11:11
4,Jared Ward,"Mapleton, UT",USA,M,31,6,Saucony,2:10:45,05:00,6,...,1:39:13,1:44:15,1:47:57,1:49:12,1:54:16,1:59:35,2:03:47,2:04:34,2:09:37,2:10:45

In [3]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53639 entries, 0 to 53638
Data columns (total 54 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   53639 non-null  object
 1   geo_subregion          53622 non-null  object
 2   country                53639 non-null  object
 3   gender                 53639 non-null  object
 4   age                    53639 non-null  int64
 5   bib                    53639 non-null  int64
 6   team                   9282 non-null   object
 7   official_time          53639 non-null  object
 8   pace_per_mile          53639 non-null  object
 9   place_overall          53639 non-null  object
 10  place_gender           53639 non-null  object
 11  age_group              53639 non-null  object
 12  place_age-group        53639 non-null  object
 13  country_group          53637 non-null  object
 14  place_country          53639 non-null  object
 15  place_age‐graded       53639 non-null  object
 16  time_age‐graded        53639 non-null  object
 17  percentage_age‐graded  53639 non-null  object
 18  gun_time               53639 non-null  object
 19  gun_place              53639 non-null  int64
 20  3m                     53557 non-null  object
 21  5k                     53594 non-null  object
 22  4m                     53557 non-null  object
 23  5m                     53585 non-null  object
 24  6m                     53372 non-null  object
 25  10k                    53558 non-null  object
 26  7m                     53567 non-null  object
 27  8m                     53598 non-null  object
 28  9m                     53542 non-null  object
 29  15k                    53550 non-null  object
 30  10m                    53569 non-null  object
 31  11m                    53547 non-null  object
 32  12m                    53576 non-null  object
 33  20k                    53447 non-null  object
 34  13m                    53519 non-null  object
 35  half                   53467 non-null  object
 36  14m                    53532 non-null  object
 37  15m                    53412 non-null  object
 38  25k                    53517 non-null  object
 39  16m                    53502 non-null  object
 40  17m                    53548 non-null  object
 41  18m                    53455 non-null  object
 42  30k                    53338 non-null  object
 43  19m                    53176 non-null  object
 44  20m                    53150 non-null  object
 45  21m                    53303 non-null  object
 46  35k                    53379 non-null  object
 47  22m                    53365 non-null  object
 48  23m                    53135 non-null  object
 49  24m                    53357 non-null  object
 50  40k                    53202 non-null  object
 51  25m                    53431 non-null  object
 52  26m                    53344 non-null  object
 53  mar                    53639 non-null  object
dtypes: int64(3), object(51)
memory usage: 22.1+ MB

### Set up country coding assistant

In [4]:
class GroupMap:
    def __init__(self):
        self.data = {}
        
    # Based on discussion here: https://stackoverflow.com/questions/55892600/python-triplet-dictionary
    # Takes in a dictionary and creates an identical dictionary under each value in the original.
    # This provides a means to look up keys from values.
    # For example, {'a':'apple', 'b':'butter', 'c':'cocoa'} is stored as
    # {'apple':{'a':'apple', 'b':'butter', 'c':'cocoa'},
    # 'butter':{'a':'apple', 'b':'butter', 'c':'cocoa'},
    # 'cocoa':{'a':'apple', 'b':'butter', 'c':'cocoa'}}
    # so, self['butter'] returns {'a':'apple', 'b':'butter', 'c':'cocoa'}, 
    # and self['butter']['a'] returns 'apple'.
    # Be warned, newer entries overwrite older ones.

    def add(self, group):
        for thing in group.keys():
            self.data[group[thing]] = group

    def __getitem__(self, item):
        return self.data[item]

In [5]:
# Read in the conversion table from Wikipedia.
# This will be used to convert from IOC and ISO country codes to spelled out country names.
temp_df = pd.read_html('https://en.wikipedia.org/wiki/Comparison_of_alphabetic_country_codes')[0]    


# Tidy up the columm headings.
temp_df = temp_df[['Country', 'IOC', 'ISO']]
temp_df = temp_df.rename(columns={'IOC': 'IOC_code', 'ISO': 'ISO_code'})

# Drop the footnote citations from the table text.
citation_pattern = re.compile('\[[1-9][0-9]?\]')

temp_df['Country'] = temp_df['Country'].str.replace(citation_pattern,'')

# Drop the parenthetical notes from the table text. (Note the leading space.)
parenthetical_pattern = re.compile(' \(.+\)')

temp_df['Country'] = temp_df['Country'].str.replace(parenthetical_pattern,'')

# Reorder the comma separated entries.
temp_df['Country'] = temp_df['Country'].str.split(', ').apply(lambda x: ' '.join(x[::-1]))

In [6]:
country_code_trictionary = GroupMap()

thang = temp_df.to_dict('records')

for record in thang:
    country_code_trictionary.add(record)

In [7]:
def country_coder(country_query, desired_code):
    try:
        output = country_code_trictionary[country_query][desired_code]
        return output
    except:
        return 'not_found'

# Data Prep and Cleaning

In [8]:
# First we need to correct some known errors in the data.

# Countries

# Some addresses for China (CHN) are mis-coded as 'CHI'.
df['country'] = df['country'].str.replace('CHI','CHN')

# Some addresses for Romania (ROU) are mis-coded as 'ROM'.
df['country'] = df['country'].str.replace('ROM','ROU')

# Some addresses for the Democratic Republic of the Congo (COD) are mis-coded as 'Dem'
df['country'] = df['country'].str.replace('Dem','COD')

# One address for the USA (USA) is mis-coded as 'Sai'
df['country'] = df['country'].str.replace('Sai','USA')

# Geo_subregions

# The periods in 'L.I.C.' generate errors.
df['geo_subregion'] = df['geo_subregion'].str.replace('L.I.C.','Long Island City')

In [9]:
# How many countries are represented?
len(df['country'].unique())

137

In [10]:
# What are they?
df['country'].unique()

array(['NLD', 'KEN', 'AUS', 'USA', 'ETH', 'DNK', 'ITA', 'DEU', 'CAN',
       'BRA', 'MEX', 'SVK', 'HUN', 'NOR', 'ESP', 'IND', 'CHE', 'POL',
       'ISL', 'SWE', 'GBR', 'FRA', 'IRL', 'AUT', 'CHN', 'GRC', 'COL',
       'HKG', 'EST', 'ECU', 'BEL', 'AGO', 'JPN', 'BGR', 'ZAF', 'CRI',
       'ARG', 'LTU', 'NZL', 'PRT', 'TUR', 'SGP', 'SVN', 'ISR', 'MAR',
       'UKR', 'URY', 'CHL', 'PER', 'RUS', 'PAN', 'BHS', 'FIN', 'THA',
       'GTM', 'LUX', 'VNM', 'LVA', 'KOR', 'VEN', 'SRB', 'GIB', 'UZB',
       'CYM', 'IDN', 'MDA', 'ABW', 'ANT', 'DOM', 'MNG', 'BLR', 'CZE',
       'AND', 'HND', 'PRY', 'KAZ', 'ZWE', 'ROU', 'HRV', 'MYS', 'TTO',
       'SLV', 'CYP', 'BMU', 'MAC', 'TGO', 'LIE', 'JOR', 'LBN', 'PHL',
       'VUT', 'CAF', 'MLT', 'ALB', 'TUN', 'JAM', 'DZA', 'SMR', 'GRL',
       'GEO', 'KWT', 'TCD', 'ARE', 'PYF', 'TWN', 'BUR', 'ZMB', 'ARM',
       'SWZ', 'PAK', 'MDG', 'BHR', 'NIC', 'QAT', 'KOS', 'KGZ', 'SAU',
       'MNP', 'NGA', 'MDV', 'MCO', 'COD', 'PRK', 'BWA', 'ATA', 'NIU',
       'BOL', 'MNE', 'AFG', 'BRB', 'MYT', 'VGB', 'EGY', 'OMN', 'UGA',
       'LKA', 'LCA'], dtype=object)

In [11]:
# Now convert the country abbreviations to the expanded country names.
# The geocoder is a lot more successful with expanded names.

df['long_country'] = df['country'].apply(lambda country: country_coder(country, 'Country'))

In [12]:
# How many records were not expandable?

df.long_country.isnull().sum()

0

In [13]:
# What are the expanded country names?
df['long_country'].unique()

array(['Netherlands', 'Kenya', 'Australia', 'United States', 'Ethiopia',
       'Denmark', 'Italy', 'Germany', 'Canada', 'Brazil', 'Mexico',
       'Slovakia', 'Hungary', 'Norway', 'Spain', 'India', 'Switzerland',
       'Poland', 'Iceland', 'Sweden', 'United Kingdom', 'France',
       'Ireland', 'Austria', "People's Republic of China", 'Greece',
       'Colombia', 'Hong Kong', 'Estonia', 'Ecuador', 'Belgium', 'Angola',
       'Japan', 'Bulgaria', 'South Africa', 'Costa Rica', 'Argentina',
       'Lithuania', 'New Zealand', 'Portugal', 'Turkey', 'Singapore',
       'Slovenia', 'Israel', 'Morocco', 'Ukraine', 'Uruguay', 'Chile',
       'Peru', 'Russian Federation', 'Panama', 'The Bahamas', 'Finland',
       'Thailand', 'Guatemala', 'Luxembourg', 'Vietnam', 'Latvia',
       'Republic of Korea', 'Venezuela', 'Serbia', 'Gibraltar',
       'Uzbekistan', 'Cayman Islands', 'Indonesia', 'Moldova', 'Aruba',
       'Antigua and Barbuda', 'Dominican Republic', 'Mongolia', 'Belarus',
       'Czech Republic', 'Andorra', 'Honduras', 'Paraguay', 'Kazakhstan',
       'Zimbabwe', 'Romania', 'Croatia', 'Malaysia',
       'Trinidad and Tobago', 'El Salvador', 'Cyprus', 'Bermuda', 'Macau',
       'Togo', 'Liechtenstein', 'Jordan', 'Lebanon', 'Philippines',
       'Vanuatu', 'Central African Republic', 'Malta', 'Albania',
       'Tunisia', 'Jamaica', 'Algeria', 'San Marino', 'Greenland',
       'Georgia', 'Kuwait', 'Chad', 'United Arab Emirates',
       'French Polynesia', 'Taiwan', 'Burkina Faso', 'Zambia', 'Armenia',
       'Eswatini', 'Pakistan', 'Madagascar', 'Bahrain', 'Nicaragua',
       'Qatar', 'Kosovo', 'Kyrgyzstan', 'Saudi Arabia',
       'Northern Mariana Islands', 'Nigeria', 'Maldives', 'Monaco',
       'Democratic Republic of the Congo',
       "Democratic People's Rep. Korea", 'Botswana', 'Antarctica', 'Niue',
       'Bolivia', 'Montenegro', 'Afghanistan', 'Barbados', 'Mayotte',
       'British Virgin Islands', 'Egypt', 'Oman', 'Uganda', 'Sri Lanka',
       'Saint Lucia'], dtype=object)

'Antarctica' is a bit of a red flag, and bears a closer look in the future. The short answer for now is that we're scraping the addresses we're served, and those addresses are not always correct.

# Geocoding

### Pull in known addresses

In [14]:
address_list_df = pd.read_csv("../00_data/geodata/address_cache.csv")
address_list_df.head()

,address,full_address,location
0,Castricum Netherlands,"Castricum, Noord-Holland, Nederland","(52.558830549999996, 4.639675526200153)"
1,Kapchorwa District Kenya,"District Farm Institute, Sironko Kapchorwa Roa...","(1.2992853, 34.3193213)"
2,Melbourne Australia,"Melbourne, City of Melbourne, Victoria, 3000, ...","(-37.8142176, 144.9631608)"
3,"Tucson, AZ United States","Tucson, Pima County, Arizona, United States","(32.2228765, -110.9748477)"
4,"Mapleton, UT United States","Mapleton, Utah County, Utah, 84664, United States","(40.1302338, -111.5785281)"

In [15]:
address_list_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12002 entries, 0 to 12001
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   address       12002 non-null  object
 1   full_address  12002 non-null  object
 2   location      12002 non-null  object
dtypes: object(3)
memory usage: 281.4+ KB

### Merge known addresses to the finisher data

In [16]:
# construct an 'address' for geocoding purposes
df.geo_subregion = df.geo_subregion.fillna('')
df['address'] = df['geo_subregion'] + " " + df['long_country']

# Merge with the cached address list.
df = df.merge(address_list_df, how='left', on='address')

In [17]:
df.head()

,name,geo_subregion,country,gender,age,bib,team,official_time,pace_per_mile,place_overall,...,23m,24m,40k,25m,26m,mar,long_country,address,full_address,location
0,Michel Butter,Castricum,NLD,M,33,7,New Balance,2:25:06,05:33,37,...,2:03:26,2:10:32,2:16:06,2:17:07,2:23:41,2:25:06,Netherlands,Castricum Netherlands,"Castricum, Noord-Holland, Nederland","(52.558830549999996, 4.639675526200153)"
1,Geoffrey Kamworor,Kapchorwa District,KEN,M,26,3,NIKE,2:08:13,04:54,1,...,1:53:20,1:57:59,2:01:48,2:02:30,2:07:11,2:08:13,Kenya,Kapchorwa District Kenya,"District Farm Institute, Sironko Kapchorwa Roa...","(1.2992853, 34.3193213)"
2,Jack Rayner,Melbourne,AUS,M,23,9,NIKE,2:16:58,05:14,22,...,1:58:10,2:04:07,2:08:58,2:09:51,2:15:39,2:16:58,Australia,Melbourne Australia,"Melbourne, City of Melbourne, Victoria, 3000, ...","(-37.8142176, 144.9631608)"
3,Stephen Sambu,"Tucson, AZ",USA,M,31,10,NIKE,2:11:11,05:01,7,...,1:54:16,1:59:39,2:03:59,2:04:46,2:09:58,2:11:11,United States,"Tucson, AZ United States","Tucson, Pima County, Arizona, United States","(32.2228765, -110.9748477)"
4,Jared Ward,"Mapleton, UT",USA,M,31,6,Saucony,2:10:45,05:00,6,...,1:54:16,1:59:35,2:03:47,2:04:34,2:09:37,2:10:45,United States,"Mapleton, UT United States","Mapleton, Utah County, Utah, 84664, United States","(40.1302338, -111.5785281)"

In [18]:
# How many records still need geocoding?

df.location.isnull().sum()

672

### Create list of unknown addresses for geocoding

In [19]:
# build a list of unique addresses so that we can spend less time making geocode requests.
address_list = df.loc[df['location'].isnull(), 'address'].unique()

In [20]:
# How long is this list of unique addresses?
len(address_list)

529

In [21]:
# Save this list for inspection.
query_df = pd.DataFrame(address_list)
query_df.to_csv('../00_data/geodata/addresses_for_geocoding.csv')

### Commence geocoding

In [22]:
# set up the geocoder

locator = Nominatim(user_agent="myGeocoder")
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

In [23]:
# Set up lists and counters for geocoding

location_dict = {}
problem_locations = []
counter = 0
goal = len(address_list)

In [24]:
# geocoding loop

for address in address_list:
    counter += 1
    try:
        location_result = geocode(address)
        if location_result == None:
            problem_locations.append(address)
            print("{} of {}. No location found for {}.".format(counter, goal, address))
        else:
            location_dict[address] = geocode(address)
            print("{} of {}. Found location for {}.".format(counter, goal, address))
    except:
        problem_locations.append(address)
        print("{} of {}. No location found for {}.".format(counter, goal, address))

1 of 529. No location found for Kapkitony Kenya.
2 of 529. No location found for New Taipei City People's Republic of China.
3 of 529. No location found for O Fallon, MO United States.
4 of 529. No location found for Chesitek Kenya.
5 of 529. No location found for Hsinchu City People's Republic of China.
6 of 529. No location found for Fpo, AP United States.
7 of 529. Found location for København Sv Denmark.
8 of 529. No location found for Miaoli County People's Republic of China.
9 of 529. No location found for Loenen Gld Netherlands.
10 of 529. No location found for Seoul, Mapo-gu United States.
11 of 529. No location found for Nakorn Ratchasima Thailand.
12 of 529. No location found for North Plainfiel, NJ United States.
13 of 529. No location found for Steeplechase Corner Costa Rica.
14 of 529. No location found for Rocca D Evandro Italy.
15 of 529. No location found for Segataya-Ku Japan.
16 of 529. No location found for Kibbutz Mishmar Ha'emek Israel.
17 of 529. No location found for Fort Lauderdalefort Lauderdale, FL United States.
18 of 529. No location found for New York City Uzbekistan.
19 of 529. No location found for Castelldfels Spain.
20 of 529. No location found for Saint Pierre D Oleron France.
21 of 529. No location found for La Plata, Buenos aires United States.
22 of 529. No location found for Zargoza Spain.
23 of 529. No location found for Tavagnacco Ud Italy.
24 of 529. No location found for Ballerup, Denmark United States.
25 of 529. No location found for Amsterdam-Zuid Antigua and Barbuda.
26 of 529. No location found for Maspalmos Spain.
27 of 529. No location found for Seeblick Ot Wassersuppe Germany.
28 of 529. No location found for Buenos Aires Argentina, Martinez United States.
29 of 529. No location found for Louisville Dominican Republic.
30 of 529. No location found for Elmont, Bogota dc United States.
31 of 529. No location found for West Albury, New South Wales United States.
32 of 529. No location found for Северо-Западный Административный Окру Russian Federation.
33 of 529. No location found for Barry D Islemade France.
34 of 529. No location found for Bezirk Spandau Germany.
35 of 529. No location found for San Esteban De Sasroviras Spain.
36 of 529. No location found for New Territory Hong Kong.
37 of 529. No location found for Ivanteevka Russian Federation.
38 of 529. No location found for Tres Arroyos, Buenos aires United States.
39 of 529. No location found for Pudong New District People's Republic of China.
40 of 529. No location found for Amsterdam-Oost Antigua and Barbuda.
41 of 529. No location found for Ireland (Irl) Ireland.
42 of 529. No location found for Mc Farland, WI United States.
43 of 529. No location found for Apo, AP United States.
44 of 529. No location found for Madrid, Comunidad de Madrid United States.
45 of 529. No location found for Bleanau Ffestiniog United Kingdom.
46 of 529. No location found for Helsinborg Sweden.
47 of 529. No location found for Sant Antonino Di Susa Italy.
48 of 529. No location found for Bronx Ireland.
49 of 529. No location found for Kirk Michael Iceland.
50 of 529. No location found for Wanjiang District, Dongguan, People's Republic of China.
51 of 529. No location found for Huntington Stat, NY United States.
52 of 529. No location found for Saint-Honore-De-Chicoutimi Canada.
53 of 529. No location found for Glen Huntly, Victoria United States.
54 of 529. No location found for Nanjingc People's Republic of China.
55 of 529. No location found for Buenos Bires Argentina.
56 of 529. No location found for Alamosa, Bratislavský kraj United States.
57 of 529. No location found for Singpapore Singapore.
58 of 529. No location found for Barre, Vaud United States.
59 of 529. No location found for Coalc Australia.
60 of 529. No location found for Neustift Im Mk. Austria.
61 of 529. No location found for Barre, IllinoisVaud United States.
62 of 529. No location found for Taichung People's Republic of China.
63 of 529. No location found for Carnikavas Nov. Latvia.
64 of 529. No location found for Palos Verdes Peninsula, CA United States.
65 of 529. No location found for Ashby, Buenos aires United States.
66 of 529. No location found for Stadtbezirke Ix Essen Germany.
67 of 529. No location found for Tsuen Wan Australia.
68 of 529. No location found for Bjärred United Kingdom.
69 of 529. No location found for Junin, Buenos aires United States.
70 of 529. No location found for Haarlem, Noord Holland United States.
71 of 529. No location found for New Taipei People's Republic of China.
72 of 529. No location found for Dubai, uae United States.
73 of 529. No location found for Vincennesvincennes France.
74 of 529. No location found for Fotlandsvaag Norway.
75 of 529. No location found for Stetten Akm Germany.
76 of 529. No location found for Hattorf-Heiligendorf Germany.
77 of 529. No location found for Urb. San Luis, Caracas Venezuela.
78 of 529. No location found for Saint Isnier France.
79 of 529. No location found for Lonevaag Norway.
80 of 529. No location found for São Paulo - Brazil Brazil.
81 of 529. No location found for Kitakahei-Cho Japan.
82 of 529. No location found for Klampenborg, Klampenborg United States.
83 of 529. No location found for Vsters Sweden.
84 of 529. No location found for Saline Vanuatu.
85 of 529. No location found for Wassenaar Antigua and Barbuda.
86 of 529. No location found for Blaricum Antigua and Barbuda.
87 of 529. No location found for Croton On Hudso, NY United States.
88 of 529. No location found for Minneapolis, Jonkopings lan United States.
89 of 529. No location found for Hsinchu People's Republic of China.
90 of 529. No location found for Kristansand Norway.
91 of 529. No location found for Hannaton Israel.
92 of 529. No location found for Hastings On Hud, NY United States.
93 of 529. No location found for Briarcliff Mano, NY United States.
94 of 529. No location found for Villette D Anthon France.
95 of 529. No location found for La Chaux-De-Fonds Liechtenstein.
96 of 529. No location found for Norwalk, ConnecticutNorwalk United States.
97 of 529. No location found for Haupauge, NY United States.
98 of 529. No location found for Bezirk Tempelhof-Schöneberg Germany.
99 of 529. No location found for Adachiku Japan.
100 of 529. No location found for Le Cannet, Alpes Maritimes United States.
101 of 529. No location found for Great Nck Plz, NY United States.
102 of 529. No location found for Townsead, DE United States.
103 of 529. No location found for Long Island Cit, NY United States.
104 of 529. No location found for South Pomfret, South Australia United States.
105 of 529. No location found for Torslanda, Torslanda United States.
106 of 529. No location found for Reihertshausen Germany.
107 of 529. No location found for Campton, Victoria United States.
108 of 529. No location found for Santiago De Los Caballeros Republica Dominicana Dominican Republic.
109 of 529. No location found for Pukouqu People's Republic of China.
110 of 529. No location found for South Coast Metro Austria.
111 of 529. No location found for Osteras, Osteras United States.
112 of 529. No location found for Neukirchen Bei Lambch Austria.
113 of 529. No location found for Canberra, ArkansasACT United States.
114 of 529. No location found for Nr Bradford United Kingdom.
115 of 529. No location found for Liege, Liege United States.
116 of 529. No location found for Hsinchu County People's Republic of China.
117 of 529. No location found for Vrsac, Vrsac United States.
118 of 529. No location found for Kaohsiung City People's Republic of China.
119 of 529. No location found for Bangkoknoi Thailand.
120 of 529. No location found for Hockessin, DE United States.
121 of 529. No location found for Jersey City, New JerseJ United States.
122 of 529. No location found for Belo Horizone Brazil.
123 of 529. No location found for Kaohsiung People's Republic of China.
124 of 529. No location found for Kecway Halim Indonesia.
125 of 529. No location found for Boksburg, Gauteng United States.
126 of 529. No location found for Hampton, Vic United States.
127 of 529. No location found for Prishtina, Kosovo United States.
128 of 529. No location found for Bouskoura France.

129 of 529. No location found for Hamme Denmark.
130 of 529. No location found for Khuder Soum Mongolia.
131 of 529. No location found for Saint-Herblains France.
132 of 529. No location found for New York, État de New York United States.
133 of 529. No location found for Vitacura Chad.
134 of 529. No location found for Johannesburg, Missouriteng United States.
135 of 529. No location found for Distrito Nacional, Santo Domingo United States.
136 of 529. No location found for East Waterboro, QLD United States.
137 of 529. No location found for Guishan Dist. People's Republic of China.
138 of 529. No location found for Kyoto Mukoucity Japan.
139 of 529. No location found for New York, New YorkNY United States.
140 of 529. No location found for Kaohsung People's Republic of China.
141 of 529. No location found for Ulaanbaatar, Bayanzurkh district United States.
142 of 529. No location found for Taichung City People's Republic of China.
143 of 529. No location found for Neufgrange French Polynesia.
144 of 529. No location found for Pratovecchiostia Italy.
145 of 529. No location found for Northampton, FloridaAuckland United States.
146 of 529. No location found for Frederiksberg, Denmark United States.
147 of 529. No location found for Bezirk Steglitz-Zehlendorf Germany.
148 of 529. No location found for Avant, Harju mk United States.
149 of 529. No location found for Elmhurst Thailand.
150 of 529. No location found for Yangon Burkina Faso.
151 of 529. No location found for Tokorozawashi Japan.
152 of 529. No location found for Mahammedia Morocco.
153 of 529. No location found for Staten Island Eswatini.
154 of 529. No location found for Hastings-On-Hud, NY United States.
155 of 529. No location found for Wakefield, Antwerp United States.
156 of 529. No location found for Beersel, Beersel United States.
157 of 529. No location found for Blue Springs, italy United States.
158 of 529. No location found for Fuoshan People's Republic of China.
159 of 529. No location found for Knokke, West-Vlaanderen United States.
160 of 529. No location found for Commungny Switzerland.
161 of 529. No location found for Republica Dominicada Dominican Republic.
162 of 529. No location found for Buenos Aires Antigua and Barbuda.
163 of 529. No location found for Ampher Meung Thailand.
164 of 529. No location found for Celje, Slovenija United States.
165 of 529. No location found for North Brunswick, NJ United States.
166 of 529. No location found for Sanxia Dist., New Taipei City People's Republic of China.
167 of 529. No location found for Tannanarivo Madagascar.
168 of 529. No location found for Sant Vicen Dels Horts Spain.
169 of 529. No location found for New Rochelle, New YorkNY United States.
170 of 529. No location found for Provo, UtahT United States.
171 of 529. No location found for San Pedro, Garza Garcia Mexico.
172 of 529. No location found for Bezirk Charlottenburg-Wilmersdorf Germany.
173 of 529. No location found for Isle Of Harris United Kingdom.
174 of 529. No location found for Newark Nj, Nova JerseyNewark United States.
175 of 529. No location found for Foligno, Italia/perugia United States.
176 of 529. No location found for Malbourne Australia.
177 of 529. No location found for Corroy Le Grand, Corroy le Grand United States.
178 of 529. No location found for Vila Mascote Brazil.
179 of 529. No location found for Guatemala, Ciudad Guatemala United States.
180 of 529. No location found for Illnau-Effretikon Liechtenstein.
181 of 529. No location found for Chontenay Sur Conie France.
182 of 529. No location found for Leiderdorp Antigua and Barbuda.
183 of 529. No location found for Amsterdam-West Antigua and Barbuda.
184 of 529. No location found for Monrterrey Mexico.
185 of 529. No location found for Luthvle Timon, MD United States.
186 of 529. No location found for Fukuishi Japan.
187 of 529. No location found for Cassano D. Adda Italy.
188 of 529. No location found for Foligno, Perugia United States.
189 of 529. No location found for Schreventeich - Hasseldieksdamm De Schreventeich Germany.
190 of 529. No location found for St Pierre De Clage Switzerland.
191 of 529. No location found for Fotlandsvg Norway.
192 of 529. No location found for Beograd, Cukarica United States.
193 of 529. No location found for Ljubljana, Slovenia United States.
194 of 529. No location found for Bouskoura Casablanca France.
195 of 529. No location found for Vaerloese, Hareskovby United States.
196 of 529. No location found for Eyguières, Provence-Alpes-Côte d'Azur United States.
197 of 529. No location found for Arue - Tahiti French Polynesia.
198 of 529. No location found for La Mezieze France.
199 of 529. No location found for Bezirk Moabit Germany.
200 of 529. No location found for Hoofddorp Antigua and Barbuda.
201 of 529. No location found for New Market, MarylandMD United States.
202 of 529. No location found for Bangkokyai Thailand.
203 of 529. No location found for Gyqr Hungary.
204 of 529. No location found for Udine, Friuli-Venezia Giulia United States.
205 of 529. No location found for Aarsta Sweden.
206 of 529. No location found for Dedham, New South Wales United States.
207 of 529. No location found for Bondi Junction, NSW United States.
208 of 529. No location found for Londond United Kingdom.
209 of 529. No location found for Cape Town, western cape United States.
210 of 529. No location found for Guarenas, Miranda United States.
211 of 529. No location found for Canton, Gauteng United States.
212 of 529. No location found for Locust Grove Netherlands.
213 of 529. No location found for Etrembier France.
214 of 529. No location found for Alloway, western cape United States.
215 of 529. No location found for The Hague Antigua and Barbuda.
216 of 529. No location found for Badin, Madrid United States.
217 of 529. No location found for Rijswijk Antigua and Barbuda.
218 of 529. No location found for Steffisburg, Bern United States.
219 of 529. No location found for Saveneta Aruba.
220 of 529. No location found for Bnigen Bei Interlaken Switzerland.
221 of 529. No location found for Lyonyon France.
222 of 529. No location found for Northeast Carrollton Switzerland.
223 of 529. No location found for Romaroma Italy.
224 of 529. No location found for Villigen, Aargau United States.
225 of 529. No location found for Zhubei City, Hsinchu County People's Republic of China.
226 of 529. No location found for San Mateo Tlaltenango, Ciudad de MéxicoF United States.
227 of 529. No location found for Empoli, firenze United States.
228 of 529. No location found for Ruda (Ud) Italy.
229 of 529. No location found for San Pedro, Garza Garcia. Nl Mexico.
230 of 529. No location found for Oslo, Akershus United States.
231 of 529. No location found for Medelllin Colombia.
232 of 529. No location found for Neuilly-Sur-Seineeuilly Sur Seine France.
233 of 529. No location found for Croudace Bay, New South Wales United States.
234 of 529. No location found for Bangpli Thailand.
235 of 529. No location found for San Fancisco 2 Ríos Costa Rica.
236 of 529. No location found for Amsterdam Antigua and Barbuda.
237 of 529. No location found for Hasbrouck Heigh, NJ United States.
238 of 529. No location found for Bfpo2 United Kingdom.
239 of 529. No location found for Humlebaek, Denmark United States.
240 of 529. No location found for Chácara Santo Antônio (Zona Sul) Brazil.
241 of 529. No location found for Yorktown Height, NY United States.
242 of 529. No location found for Sunnysisde, NY United States.
243 of 529. No location found for San Pedro Sula, cortes United States.
244 of 529. No location found for New Millport, Bromma United States.
245 of 529. No location found for Omersviller France.
246 of 529. No location found for La Tahona Golf Club Uruguay.
247 of 529. No location found for Chiswicklondon United Kingdom.
248 of 529. No location found for Bougueanis France.
249 of 529. No location found for Moscow Democratic People's Rep. Korea.
250 of 529. No location found for Comune Di Castelfranco Emilia Italy.
251 of 529. No location found for Ashton Heights Austria.
252 of 529. No location found for Whangarei, northland United States.
253 of 529. No location found for Saint Louis, Hessen United States.

254 of 529. No location found for Peterboroughbaston United Kingdom.
255 of 529. No location found for Hamburg Andorra.
256 of 529. No location found for Drancy Antarctica.
257 of 529. No location found for Bangsaothong Thailand.
258 of 529. No location found for Floral Park, Colombia United States.
259 of 529. No location found for Uniondale, riyadh United States.
260 of 529. No location found for Las Palmas - Islas Canarias Spain.
261 of 529. No location found for Bienrode-Waggum-Bevenrode Germany.
262 of 529. No location found for Bronx, État de New York United States.
263 of 529. No location found for Te Awamutu, Waikato United States.
264 of 529. No location found for Nara-Shi, Nara-Ken United States.
265 of 529. No location found for Snaoya Norway.
266 of 529. No location found for Rambouilllet France.
267 of 529. No location found for Condomínio Chácaras Do Alto Da Nova Campinas Brazil.
268 of 529. No location found for Bezirk Treptow-Köpenick Germany.
269 of 529. No location found for Johanneburg South Africa.
270 of 529. No location found for Duncanville, Paris United States.
271 of 529. No location found for Behren Les Forbach Germany.
272 of 529. No location found for Fushe Kosove, Kosovo United States.
273 of 529. No location found for Charles City, Tijuana United States.
274 of 529. No location found for Kuesnacht, Zurich United States.
275 of 529. No location found for Möhringenstuttgart Germany.
276 of 529. No location found for Mid-Level Hong Kong.
277 of 529. No location found for Hamburg-Nordhamburg Germany.
278 of 529. No location found for Rowe, Baerum United States.
279 of 529. No location found for Waldenburg Sweden.
280 of 529. No location found for Astoria, New YorkNY United States.
281 of 529. No location found for New Yor, NY United States.
282 of 529. No location found for Great Neck Italy.
283 of 529. No location found for Greenvale, Vic United States.
284 of 529. No location found for Tananarivo Madagascar.
285 of 529. No location found for Odrathzeim France.
286 of 529. No location found for Allen, Ile-de-France United States.
287 of 529. No location found for Berhren Les Forbach Germany.
288 of 529. No location found for Nagoya-Shi, Aichi-Ken United States.
289 of 529. No location found for Ituzaingo, Buenos aires United States.
290 of 529. No location found for Russee - Hammer Germany.
291 of 529. No location found for Las Condes, Santiago Metropolitan Region United States.
292 of 529. No location found for Shagnhai People's Republic of China.
293 of 529. No location found for Oakland, CaliforniaCA United States.
294 of 529. No location found for Saint Syr Sur Rhone France.
295 of 529. No location found for Gany Tikva Israel.
296 of 529. No location found for Aosta Italy Italy.
297 of 529. No location found for Residencial Seis (Alphaville) Brazil.
298 of 529. No location found for Prishtina, Kosova United States.
299 of 529. No location found for St-Sauveur-Des-Monts Canada.
300 of 529. No location found for Hong Kong, New Territories United States.
301 of 529. No location found for Lillehammer, Norway United States.
302 of 529. No location found for Bronbron France.
303 of 529. No location found for København Nv Denmark.
304 of 529. No location found for Reykjavík, Seltjarnarnes United States.
305 of 529. No location found for Capital Federal, Ciudad de BUenos Aires United States.
306 of 529. No location found for Capital, Santiago del Estero United States.
307 of 529. No location found for Clazac France.
308 of 529. No location found for Leciestershire United Kingdom.
309 of 529. No location found for Bradfield Reading United Kingdom.
310 of 529. No location found for Portwashington, NY United States.
311 of 529. No location found for Pt Pleas Bch, NJ United States.
312 of 529. No location found for Wimbledon Venezuela.
313 of 529. No location found for Mexico City Mayotte.
314 of 529. No location found for Naarden Antigua and Barbuda.
315 of 529. No location found for Brighton East, Victoria United States.
316 of 529. No location found for New Kensington, PennsylvaniaPa United States.
317 of 529. No location found for Clayton, Italia United States.
318 of 529. No location found for Stafford, England United States.
319 of 529. No location found for Boston, MassachusettsB United States.
320 of 529. No location found for Willemstad Antigua and Barbuda.
321 of 529. No location found for Panamam Panama.
322 of 529. No location found for Seftigen Liechtenstein.
323 of 529. No location found for Clearwater Bay Hong Kong.
324 of 529. No location found for Dorchestr Ctr, MA United States.
325 of 529. No location found for Miami Beach, NY United States.
326 of 529. No location found for South Plainfiel, NJ United States.
327 of 529. No location found for Northampton, Auckland United States.
328 of 529. No location found for Fpo, AE United States.
329 of 529. No location found for South Windham South Africa.
330 of 529. No location found for Glasser, NJ United States.
331 of 529. No location found for Hamilton, Waikato United States.
332 of 529. No location found for Kirtyat Ono Israel.
333 of 529. No location found for Deventer Antigua and Barbuda.
334 of 529. No location found for Quto Ecuador.
335 of 529. No location found for Springfield Grd, NY United States.
336 of 529. No location found for Neustadt Am Rübenbergeneustadt Germany.
337 of 529. No location found for Provincetownemaastricht Netherlands.
338 of 529. No location found for Guthenburg Sweden.
339 of 529. No location found for Antwerpen, Anterpen United States.
340 of 529. No location found for Guatema Guatemala.
341 of 529. No location found for Sydney, New South Wales United States.
342 of 529. No location found for Linkping Sweden.
343 of 529. No location found for Omalley, ACT United States.
344 of 529. No location found for Bezirk Reinickendorf Germany.
345 of 529. No location found for Paducah, SORIA United States.
346 of 529. No location found for Piton Saint-Leu France.
347 of 529. No location found for Mc Kean, PA United States.
348 of 529. No location found for Miramont D Astarac France.
349 of 529. No location found for Plainwell, Maine et Loire United States.
350 of 529. No location found for Ecublens Liechtenstein.
351 of 529. No location found for Hopewell Juncti, NY United States.
352 of 529. No location found for Ｈｏｎｇ　Ｋｏｎｇ People's Republic of China.
353 of 529. No location found for Buccinaso Italy.
354 of 529. No location found for Sant Petesburg Russian Federation.
355 of 529. No location found for Castroville Uzbekistan.
356 of 529. No location found for Shangahai People's Republic of China.
357 of 529. No location found for Casablaca Morocco.
358 of 529. No location found for Pq Res Aquarius Brazil.
359 of 529. No location found for Ceby City Philippines.
360 of 529. No location found for Untergiesing-Harlachingmnchen Germany.
361 of 529. No location found for Skopje Norway.
362 of 529. No location found for Kew Gardens Hil, NY United States.
363 of 529. No location found for N. Valley Strea, NY United States.
364 of 529. No location found for Sparrta, NJ United States.
365 of 529. No location found for Bellevue Hill, NSW United States.
366 of 529. No location found for Eltham, Victoria United States.
367 of 529. No location found for Minot, Gauteng United States.
368 of 529. No location found for Grand Cayman Canada.
369 of 529. No location found for Dorforf Liechtenstein.
370 of 529. No location found for Longuiville Australia.
371 of 529. No location found for Nes Ziyona Israel.
372 of 529. No location found for Chicago, Illinois [IL] United States.
373 of 529. No location found for East Dover, Famagusta United States.
374 of 529. No location found for Kroonstad, Free state United States.
375 of 529. No location found for Geraardsbergen, Oost Vlaanderen United States.
376 of 529. No location found for General Pico, La Pampa, Argentina Argentina.
377 of 529. No location found for Apeldoorn Noord-Oost Netherlands.
378 of 529. No location found for Manahawkin, Bolivar United States.
379 of 529. No location found for Bologna, Emilia-Romagna United States.
380 of 529. No location found for New York, Thailand United States.
381 of 529. No location found for Sebago Lake, QLD United States.

382 of 529. No location found for Margherita Di Savoia Jamaica.
383 of 529. No location found for Cumming Italy.
384 of 529. No location found for Herewegwijk En Helpman Netherlands.
385 of 529. No location found for New Rochelle, New orkN United States.
386 of 529. No location found for Bladelbladel Netherlands.
387 of 529. No location found for Dublin, Dun Laoghaire United States.
388 of 529. No location found for S.M. De Tucuman Argentina.
389 of 529. No location found for Stadtbezirke Iv Germany.
390 of 529. No location found for U.S Virgin Island, St. Thomas United States.
391 of 529. No location found for Brain Sur L Authion France.
392 of 529. No location found for Longs, South CarolinaJeff Leake United States.
393 of 529. No location found for Melbounre Australia.
394 of 529. No location found for Salles D Angles France.
395 of 529. No location found for Montugny Le Bretonneux France.
396 of 529. No location found for Columbia, Varese United States.
397 of 529. No location found for Numansdorp Antigua and Barbuda.
398 of 529. No location found for Princeton Jct, NJ United States.
399 of 529. No location found for Middx United Kingdom.
400 of 529. No location found for Vandoncourt, FRANCE United States.
401 of 529. No location found for Comune Di Castelfranco Veneto Italy.
402 of 529. No location found for Sparreholm, Södermanlands län United States.
403 of 529. No location found for Dardillydardilly France.
404 of 529. No location found for Sao Bernardo Do Campo, São Paulo United States.
405 of 529. No location found for Barnegat, western cape United States.
406 of 529. No location found for Longe Ville Les Metz France.
407 of 529. No location found for Mc Gregor, TX United States.
408 of 529. No location found for Bezirk Neukölln Germany.
409 of 529. No location found for Rancho Cordova, CaliforniaAndrei United States.
410 of 529. No location found for Manhattan, État de New York United States.
411 of 529. No location found for Aracaju Botswana.
412 of 529. No location found for Raynes Arkp United Kingdom.
413 of 529. No location found for Rittenhouse Square Belgium.
414 of 529. No location found for Erlangen, Germany United States.
415 of 529. No location found for Higasikanbara Japan.
416 of 529. No location found for Foxboro, New YorkNSW United States.
417 of 529. No location found for San Francisco, Ile de France United States.
418 of 529. No location found for Saint Romain Au Mont D Or France.
419 of 529. No location found for Briar Hill, Victoria United States.
420 of 529. No location found for Hong Kong, CHINA United States.
421 of 529. No location found for Nottingham, KwaZulu Natal United States.
422 of 529. No location found for Eindhoven Antigua and Barbuda.
423 of 529. No location found for Kng Of Prussa, PA United States.
424 of 529. No location found for Campinas, Sao Paulo United States.
425 of 529. No location found for Hellerup, NA United States.
426 of 529. No location found for Rosino Bulgaria.
427 of 529. No location found for North Chatham, Antwerpen United States.
428 of 529. No location found for Johannesburg, Gauteng United States.
429 of 529. No location found for De Veenhoop Antigua and Barbuda.
430 of 529. No location found for Hertzelia Israel.
431 of 529. No location found for Wijk Bij Duurstede Antigua and Barbuda.
432 of 529. No location found for Hatdtan District People's Republic of China.
433 of 529. No location found for Taiper City People's Republic of China.
434 of 529. No location found for South Ozone Par, NY United States.
435 of 529. No location found for Setonai-Shi Japan.
436 of 529. No location found for Aran-Villette/Grandvaux Liechtenstein.
437 of 529. No location found for Lima18 Peru.
438 of 529. No location found for Frederiksberg, Frederiksberg United States.
439 of 529. No location found for Quezon City, Manila United States.
440 of 529. No location found for Arnada, Metro Manila United States.
441 of 529. No location found for Seuzach Liechtenstein.
442 of 529. No location found for Rockville Centr, NY United States.
443 of 529. No location found for New Yurk, NY United States.
444 of 529. No location found for Prverenges Switzerland.
445 of 529. No location found for Beijjing People's Republic of China.
446 of 529. No location found for Hainichen/Ot Bockendorf Germany.
447 of 529. No location found for Chatuchak, Bangkok United States.
448 of 529. No location found for Tucson Germany.
449 of 529. No location found for Mesa Norway.
450 of 529. No location found for Finglas North, County Dublin United States.
451 of 529. No location found for Bahia Blanca, Buenos aires United States.
452 of 529. No location found for Darfo Baorio Terme Italy.
453 of 529. No location found for Barrington, Vic United States.
454 of 529. No location found for Saikung Hong Kong.
455 of 529. No location found for Palmyra, Western Australia United States.
456 of 529. No location found for East Freetown Italy.
457 of 529. No location found for Apo, Troms United States.
458 of 529. No location found for New Territories, Sham Tseng United States.
459 of 529. No location found for Mimato-Ku Japan.
460 of 529. No location found for Bandolbandol France.
461 of 529. No location found for Bezirk Marzahn-Hellersdorf Germany.
462 of 529. No location found for Oakleigh, Victoria United States.
463 of 529. No location found for Caba Bs As Argentina Argentina.
464 of 529. No location found for Hvittingfoss, Norway United States.
465 of 529. No location found for Queens, New York [NY] United States.
466 of 529. No location found for Whitlwy Bay United Kingdom.
467 of 529. No location found for Gam, Ciudad de Mexico United States.
468 of 529. No location found for St.Peteresburg Russian Federation.
469 of 529. No location found for Punaauia - Tahiti French Polynesia.
470 of 529. No location found for Cabo Rojo Northern Mariana Islands.
471 of 529. No location found for Weymouth, Gauteng United States.
472 of 529. No location found for Bezirk Friedrichshain-Kreuzberg Germany.
473 of 529. No location found for Brooklyln, NY United States.
474 of 529. No location found for Gratta Terme (Fc) Italy.
475 of 529. No location found for Vessy, Geneve United States.
476 of 529. No location found for Bangkok, Bangkok United States.
477 of 529. No location found for San Fracisco De Campeche Mexico.
478 of 529. No location found for Nr Bishop's Stortford United Kingdom.
479 of 529. No location found for Severna Parkseverna Park, MD United States.
480 of 529. No location found for Rignano Sul Arno Italy.
481 of 529. No location found for Kasugashi Japan.
482 of 529. No location found for San Antonio, TexasTx United States.
483 of 529. No location found for Beratzhausen Aruba.
484 of 529. No location found for Tampa, Nordrhein-Westfalen United States.
485 of 529. No location found for Northampton, Auckland City United States.
486 of 529. No location found for Guayllabamna Ecuador.
487 of 529. No location found for Yuenlong Hong Kong.
488 of 529. No location found for Washington, New JerseyWashington United States.
489 of 529. No location found for Kopavogi, Iceland United States.
490 of 529. No location found for Salzano Venice Italy.
491 of 529. No location found for Stavanger, Hafrsfjord United States.
492 of 529. No location found for Eagleville Italy.
493 of 529. No location found for Palmerston North, MANAWATU United States.
494 of 529. No location found for Bellingham, Norway United States.
495 of 529. No location found for Cfar Bialik Israel.
496 of 529. No location found for Beek - Ubergen Netherlands.
497 of 529. No location found for Monclair, NJ United States.
498 of 529. No location found for Mooloolaba, Queensland United States.
499 of 529. No location found for Banqiao Dist People's Republic of China.
500 of 529. No location found for Ikoyi, Lagos United States.
501 of 529. No location found for San Clemente, Californiac United States.
502 of 529. No location found for Durham, England United States.
503 of 529. No location found for Nøtterøy, Norway United States.
504 of 529. No location found for Guayaqsuil Ecuador.
505 of 529. No location found for Saint Louis, MissouriMO United States.
506 of 529. No location found for Esbo, Finland United States.

507 of 529. No location found for Kualalumpur Malaysia.
508 of 529. No location found for Apo, Oost Vlaanderen United States.
509 of 529. No location found for Worcester, Buenos aires United States.
510 of 529. No location found for Framingham, Metro Manila United States.
511 of 529. No location found for Bodegraven, Holandia Południowa United States.
512 of 529. No location found for Fort Worth, UNITED STATES United States.
513 of 529. No location found for Amphoe Dan Khun Thot Thailand.
514 of 529. No location found for Hungtington, NY United States.
515 of 529. No location found for Taguig City, Metro Manila United States.
516 of 529. No location found for Clearwater Bay, Sai Kung People's Republic of China.
517 of 529. No location found for Cossato, Biella United States.
518 of 529. No location found for Manchester, Connecticutt United States.
519 of 529. No location found for Cumberlnd Ctr, ME United States.
520 of 529. No location found for Alpharetta Indonesia.
521 of 529. No location found for Las Pinas, Metro Manila United States.
522 of 529. No location found for Mc Keesport, PA United States.
523 of 529. No location found for Raadal Norway.
524 of 529. No location found for Acton, NCR United States.
525 of 529. No location found for Huiquang Thailand.
526 of 529. No location found for Rabun Gap, GA United States.
527 of 529. No location found for Fukuokasi Japan.
528 of 529. No location found for Basidlon United Kingdom.
529 of 529. No location found for Argyull United Kingdom.

### Save problem locations for inspection

In [26]:
len(problem_locations)

528

In [27]:
problem_locations_df = pd.DataFrame(problem_locations)
problem_locations_df.to_csv('../00_data/geodata/problem_addresses.csv', index=False)

### Update the dataframe of known addresses

In [28]:
len(location_dict)

1

In [29]:
address_cache_df = pd.DataFrame.from_dict(location_dict)
address_cache_df = address_cache_df.transpose()

In [30]:
address_cache_df = address_cache_df.reset_index()
address_cache_df.rename(columns={'index': 'address', 0: 'full_address', 1: 'location'}, inplace=True)

In [31]:
address_list_df = address_list_df.append(address_cache_df)

In [32]:
address_list_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12003 entries, 0 to 0
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   address       12003 non-null  object
 1   full_address  12003 non-null  object
 2   location      12003 non-null  object
dtypes: object(3)
memory usage: 375.1+ KB

### Re-merge and extract latitude and longitude

In [33]:
# drop overlapping columns with the exception of 'address' in preparation for re-merge.
df.drop(['full_address', 'location'], axis=1, inplace=True)

In [34]:
# Merge with the cached address list.
df = df.merge(address_list_df, how='left', on='address')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53639 entries, 0 to 53638
Data columns (total 58 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   53639 non-null  object
 1   geo_subregion          53639 non-null  object
 2   country                53639 non-null  object
 3   gender                 53639 non-null  object
 4   age                    53639 non-null  int64
 5   bib                    53639 non-null  int64
 6   team                   9282 non-null   object
 7   official_time          53639 non-null  object
 8   pace_per_mile          53639 non-null  object
 9   place_overall          53639 non-null  object
 10  place_gender           53639 non-null  object
 11  age_group              53639 non-null  object
 12  place_age-group        53639 non-null  object
 13  country_group          53637 non-null  object
 14  place_country          53639 non-null  object
 15  place_age‐graded       53639 non-null  object
 16  time_age‐graded        53639 non-null  object
 17  percentage_age‐graded  53639 non-null  object
 18  gun_time               53639 non-null  object
 19  gun_place              53639 non-null  int64
 20  3m                     53557 non-null  object
 21  5k                     53594 non-null  object
 22  4m                     53557 non-null  object
 23  5m                     53585 non-null  object
 24  6m                     53372 non-null  object
 25  10k                    53558 non-null  object
 26  7m                     53567 non-null  object
 27  8m                     53598 non-null  object
 28  9m                     53542 non-null  object
 29  15k                    53550 non-null  object
 30  10m                    53569 non-null  object
 31  11m                    53547 non-null  object
 32  12m                    53576 non-null  object
 33  20k                    53447 non-null  object
 34  13m                    53519 non-null  object
 35  half                   53467 non-null  object
 36  14m                    53532 non-null  object
 37  15m                    53412 non-null  object
 38  25k                    53517 non-null  object
 39  16m                    53502 non-null  object
 40  17m                    53548 non-null  object
 41  18m                    53455 non-null  object
 42  30k                    53338 non-null  object
 43  19m                    53176 non-null  object
 44  20m                    53150 non-null  object
 45  21m                    53303 non-null  object
 46  35k                    53379 non-null  object
 47  22m                    53365 non-null  object
 48  23m                    53135 non-null  object
 49  24m                    53357 non-null  object
 50  40k                    53202 non-null  object
 51  25m                    53431 non-null  object
 52  26m                    53344 non-null  object
 53  mar                    53639 non-null  object
 54  long_country           53639 non-null  object
 55  address                53639 non-null  object
 56  full_address           52968 non-null  object
 57  location               52968 non-null  object
dtypes: int64(3), object(55)
memory usage: 24.1+ MB

In [36]:
# The location is just a string, so split out lat and lon manually.
df[['latitude', 'longitude']] = df['location'].str.split(',', 1, expand=True)

# Get rid of the parentheses.
df['latitude'] = df['latitude'].str.replace('(','')
df['longitude'] = df['longitude'].str.replace(')','')

In [37]:
df.head()

,name,geo_subregion,country,gender,age,bib,team,official_time,pace_per_mile,place_overall,...,40k,25m,26m,mar,long_country,address,full_address,location,latitude,longitude
0,Michel Butter,Castricum,NLD,M,33,7,New Balance,2:25:06,05:33,37,...,2:16:06,2:17:07,2:23:41,2:25:06,Netherlands,Castricum Netherlands,"Castricum, Noord-Holland, Nederland","(52.558830549999996, 4.639675526200153)",52.558830549999996,4.639675526200153
1,Geoffrey Kamworor,Kapchorwa District,KEN,M,26,3,NIKE,2:08:13,04:54,1,...,2:01:48,2:02:30,2:07:11,2:08:13,Kenya,Kapchorwa District Kenya,"District Farm Institute, Sironko Kapchorwa Roa...","(1.2992853, 34.3193213)",1.2992853,34.3193213
2,Jack Rayner,Melbourne,AUS,M,23,9,NIKE,2:16:58,05:14,22,...,2:08:58,2:09:51,2:15:39,2:16:58,Australia,Melbourne Australia,"Melbourne, City of Melbourne, Victoria, 3000, ...","(-37.8142176, 144.9631608)",-37.8142176,144.9631608
3,Stephen Sambu,"Tucson, AZ",USA,M,31,10,NIKE,2:11:11,05:01,7,...,2:03:59,2:04:46,2:09:58,2:11:11,United States,"Tucson, AZ United States","Tucson, Pima County, Arizona, United States","(32.2228765, -110.9748477)",32.2228765,-110.9748477
4,Jared Ward,"Mapleton, UT",USA,M,31,6,Saucony,2:10:45,05:00,6,...,2:03:47,2:04:34,2:09:37,2:10:45,United States,"Mapleton, UT United States","Mapleton, Utah County, Utah, 84664, United States","(40.1302338, -111.5785281)",40.1302338,-111.5785281

### Store Results

In [38]:
# define the path and name for the output files
address_cache_csv = "../00_data/geodata/address_cache.csv"
geocoded_finishers_csv = "../00_data/geodata/M2019_finishers_geocoded.csv"

# write to file

address_list_df.to_csv(address_cache_csv, index=False)
df.to_csv(geocoded_finishers_csv, index=False)

### Mapping

In [ ]:
mapping_df = df[pd.notnull(df["location"])]

In [ ]:
len(df) - len(mapping_df)

In [ ]:
map1 = folium.Map(
    location=[40.7128, -74.0060],
    tiles='cartodbpositron',
    zoom_start=12,
)

In [ ]:
mapping_df.apply(lambda row:folium.CircleMarker(location=[row["latitude"], row["longitude"]]).add_to(map1), axis=1)
map1

In [ ]:
map1.save("map9.html")

In [ ]:
folium_map = folium.Map(location=[40.7128, -74.0060],
                        zoom_start=12,
                        tiles='cartodbpositron')


FastMarkerCluster(data=list(zip(mapping_df['latitude'].values, mapping_df['longitude'].values))).add_to(folium_map)
folium.LayerControl().add_to(folium_map)
folium_map

In [ ]:
folium_map.save("map10.html")